.customMarker {
  background-image: url('https://placekitten.com/30/30');
  width: 20px;
  height: 20px;
  background-size: cover;
  border-radius: 20%;
  border: 2px solid black;
}

.markerCluster {
  background-color: rgba(0, 150, 0, 0.6);
  border: 2px solid rgba(0, 100, 0, 0.8);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
